<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">

        <div class="active-member">

          <div class="table-responsive">
            <table class="table table-xs mb-0 text-secondary ">
              <thead>
              <tr class="">
                <th>username</th>
                <th>email</th>
                <th>role</th>
              </tr>
              </thead>
              <tbody>
              <tr class="py-2" *ngFor="let user of userList">
                <td> {{user.username}}  </td>
                <td> {{user.email}} </td>
                <td> {{user.role}}  </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








