<div>


  <div class="container-fluid" *ngIf="branches.length>0">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">




            <div class=" m-auto pt-3">
              <h1 class="text-center"> All Branches</h1>
              <div class="col-11 text-center m-auto">
                <table class="table text-center mt-5">
                  <thead>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Activation</th>
                  <th>Edit</th>
                  </thead>

                  <tbody>
                  <tr *ngFor="let branch of branches |
      paginate:{itemsPerPage:3,currentPage:page,totalItems:branches.length};let currentIndex=index" >

                    <td >{{currentIndex+1}}</td>
                    <td> {{branch.name}}</td>
                    <td>{{branch.address}}</td>
                    <td>
                      <input type="checkbox" class="custom-control-input" checked>{{branch.branchStatus}}
                    </td>
                    <td>
                      <a style="color: #fff;" routerLink="/branch/edit/{{branch.id}}" class="btn btn-danger">Edit </a>
                    </td>

                  </tr>
                  </tbody>
                </table>

                <p class="py-5" *ngIf="branches.length==0">there no intakes yet</p>
              </div>
            </div>








          </div>
        </div>
      </div>
    </div>

    <div  class="col-12  text-center" >

      <pagination-controls  (pageChange)="page=$event"   style="bottom: 100px;left: 50vw">

      </pagination-controls>

    </div>
  </div>

</div>
