<div  class="h-100 bg-light servce-do">
  <div class="container-fluid justify-content-center mx-auto">
    <div class="col-lg-4 col-12 mb-3 row justify-content-center mb-3 mb-lg-5 mx-auto">
      <img class="col-lg-2 col-3 mt-1" src="assets/images/usedImages/addStudent.png">
      <h2 class="col-lg-6 col-6 pt-4 mb-0 pt-2 text-start px-0 text-muted font-italic">Add Student</h2>
    </div>


  <div class="card">
    <div class="card-body rounded shadow">
      <div class="basic-form" [formGroup]="addStudents">
        <div class="form-group row">
          <label class="col-lg-4 col-form-label text-muted font-weight-bold" for="branches">Select Branch
          </label>
          <div class="col-lg-6">
            <select class="form-control" id="branches" data-live-search="true"
                    (ngModelChange)="onChangeBranch($event)" formControlName="branches"
                    [class.is-valid]="!addStudents.controls['branches'].errors && addStudents.controls['branches'].touched"
                    [class.is-invalid]="addStudents.controls['branches'].errors && addStudents.controls['branches'].touched">
              <option  selected disabled value="" class="text-secondary" >Please Select Branch</option>
              <option *ngFor="let branch of branches"
                      [value]="branch.id">{{branch.name}} </option>
            </select>
            <div class="text-danger  col-lg-6 align-items-end align-self-end"
                 *ngIf="addStudents.controls['branches'].errors && addStudents.controls['branches'].touched">
              <small *ngIf="addStudents.controls['branches'].hasError('required')"
                     class="form-text text-danger">required branch</small>
            </div>
          </div>
        </div>

        <div class="text-danger col-lg-6 align-items-end text-end mb-3 mx-auto" *ngIf="!addStudents.controls['branches'].errors && trainingPrograms.length ==0">
          <small class="form-text text-danger">*There is no training programs for this branch</small>
        </div>


        <!--        Training programs   -->
        <div class="form-group row" *ngIf="!addStudents.controls['branches'].errors && trainingPrograms.length > 0" >
          <label class="col-lg-4 col-form-label text-muted font-weight-bold" for="trainingPrograms">Select Training Program
          </label>
          <div class="col-lg-6">
            <select class="form-control" id="trainingPrograms" data-live-search="true"
                    (ngModelChange)="onChangeTrainingProgram($event)" formControlName="trainingPrograms"
                    [class.is-valid]="!addStudents.controls['trainingPrograms'].errors && addStudents.controls['trainingPrograms'].touched"
                    [class.is-invalid]="addStudents.controls['trainingPrograms'].errors && addStudents.controls['trainingPrograms'].touched">
              <option value="" selected disabled class="text-secondary">Please Select Training Program</option>
              <option *ngFor="let trainingProgram of trainingPrograms"
                      [value]="trainingProgram.id">{{trainingProgram.name}} </option>
            </select>
            <div class="text-danger  col-lg-6 align-items-end align-self-end"
                 *ngIf="addStudents.controls['trainingPrograms'].errors && addStudents.controls['trainingPrograms'].touched">
              <small *ngIf="addStudents.controls['trainingPrograms'].hasError('required')"
                     class="form-text text-danger">required training program</small>
            </div>
          </div>
        </div>

        <div class="text-danger col-lg-6 align-items-end text-end mb-3 mx-auto" *ngIf="!addStudents.controls['trainingPrograms'].errors && intakes.length ==0">
          <small class="form-text text-danger">*There is no intakes for this training program</small>
        </div>

        <!--    Intakes    -->
        <div class="form-group row" *ngIf="!addStudents.controls['trainingPrograms'].errors && intakes.length > 0">
          <label class="col-lg-4 col-form-label text-muted font-weight-bold" for="intakes">Select Intake
          </label>
          <div class="col-lg-6">
            <select class="form-control" id="intakes" data-live-search="true"
                    (ngModelChange)="onChangeIntake($event)" formControlName="intakes"
                    [class.is-valid]="!addStudents.controls['intakes'].errors && addStudents.controls['intakes'].touched"
                    [class.is-invalid]="addStudents.controls['intakes'].errors && addStudents.controls['intakes'].touched">
              <option value="" selected disabled class="text-secondary">Please Select Intake</option>
              <option *ngFor="let intake of intakes"
                      [value]="intake.id">{{intake.intakeName}} </option>
            </select>
            <div class="text-danger  col-lg-6 align-items-end align-self-end"
                 *ngIf="addStudents.controls['intakes'].errors && addStudents.controls['intakes'].touched">
              <small *ngIf="addStudents.controls['intakes'].hasError('required')"
                     class="form-text text-danger">required intake</small>
            </div>
          </div>
        </div>

        <div class="text-danger col-lg-6 align-items-end text-end mb-3 mx-auto" *ngIf="!addStudents.controls['intakes'].errors && tracks.length ==0">
          <small class="form-text text-danger">*There is no tracks for this intake</small>
        </div>

        <!--   Tracks    -->
        <div class="form-group row" *ngIf="!addStudents.controls['intakes'].errors && tracks.length >0">
          <label class="col-lg-4 col-form-label text-muted font-weight-bold" for="intakes">Select Track
          </label>
          <div class="col-lg-6">
            <select class="form-control" id="tracks" data-live-search="true"
                    (ngModelChange)="onChangeTrack($event)" formControlName="tracks"
                    [class.is-valid]="!addStudents.controls['tracks'].errors && addStudents.controls['tracks'].touched"
                    [class.is-invalid]="addStudents.controls['tracks'].errors && addStudents.controls['tracks'].touched">
              <option value="" selected disabled class="text-secondary">Please Select Track</option>
              <option *ngFor="let track of tracks"
                      [value]="track.id">{{track.name}} </option>
            </select>
            <div class="text-danger  col-lg-6 align-items-end align-self-end"
                 *ngIf="addStudents.controls['tracks'].errors && addStudents.controls['tracks'].touched">
              <small *ngIf="addStudents.controls['tracks'].hasError('required')"
                     class="form-text text-danger">required track</small>
            </div>
          </div>
        </div>

        <div >
          <div class="form-group row">
            <label class="col-lg-4 col-form-label text-muted font-weight-bold" for="intakes">Enter Username </label>
            <div class="col-lg-6">
              <input #usernameInput [class.is-invalid]="addStudents.controls['userName'].errors && addStudents.controls['userName'].touched"
                     [class.is-valid]="!addStudents.controls['userName'].errors"
                     formControlName="userName" type="text" class="form-control" placeholder="username">
              <div *ngIf="addStudents.controls['userName'].errors && addStudents.controls['userName'].touched">
                <small *ngIf="addStudents.controls['userName'].hasError('required')" class="text-danger" > required username</small>
                <small *ngIf="addStudents.controls['userName'].hasError('minlength')" class="text-danger"> username should be at least 3 characters</small>
                <small *ngIf="addStudents.controls['userName'].hasError('maxlength')" class="text-danger"> lastname should be at most 15 characters</small>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-lg-4 col-form-label text-muted font-weight-bold" for="intakes">Enter Email </label>
            <div class="col-lg-6">
              <input #emailInput [class.is-invalid]="addStudents.controls['email'].errors && addStudents.controls['email'].touched"
                     [class.is-valid]="!addStudents.controls['email'].errors"
                     formControlName="email" type="text" class="form-control" placeholder="email">
              <div *ngIf="addStudents.controls['email'].errors && addStudents.controls['email'].touched">
                <small *ngIf="addStudents.controls['email'].hasError('required')" class="text-danger" > required email</small>
                <small *ngIf="addStudents.controls['email'].hasError('pattern')" class="text-danger"> email doesn't match the pattern</small>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-4 text-center mx-auto ">
          <button class="btn btn-danger mr-2 mb-2" type="button" style="margin-top: -52px" [disabled]="addStudents.invalid"  (click)="add()">Add Student</button>
<!--          <input #fileImportInput class="form-control btn-light btn b-0 text-muted" type="file" id="formFile" class="upload" (change) = "fileChangeListener($event)">-->
          <label class="label" for="formFile">
            <div class="div">Bulk add</div>
            <input #fileImportInput class="form-control "  [disabled]="!canUploadFile()"  type="file" id="formFile" class="upload ml-2" (change) = "fileChangeListener($event)">
          </label>
        </div>
         <div class="text-center mx-auto">
           <small class="text-danger ">{{errorMessage}}</small>
         </div>
      </div>
    </div>
  </div>

<div class="container bg-light mt-5 mb-5" *ngIf="students.length>0">
  <div class="row mb-lg-5 mb-2 mt-2 justify-content-around">
    <div class="col-lg-4 col-12 row justify-content-around ">
      <img class="col-lg-2 col-2 mt-1" src="assets/images/user/users.png">
      <h2 class="col-lg-10 col-10 mb-0 pt-3">All Students</h2>
    </div>
    <div class="search col-lg-4 col-10 rounded bg-white justify-content-around mt-lg-0 mt-3">
      <i class="fa fa-search text-muted col-lg-1 col-1 "></i>
      <input class="border-0 col-10  col-lg-10 py-2 " placeholder="Search by name or email..." type="text" #search [ngModel]="searchValue">
    </div>
  </div>

  <div class="row">
    <div  class="row  border-0 justify-content-start my-2 rounded bg-transparent p-1 py-3 col-lg-10 mx-lg-auto">
      <p  class="col-3 col-lg-3 m-auto align-items-lg-start text-muted font-weight-bold" >Username</p>
      <p  class="col-3 col-lg-3 m-auto align-items-lg-start text-muted font-weight-bold" >Email</p>
      <p class="edit col-3 col-lg-3 text-info mb-0 text-muted font-weight-bold">Delete</p>
    </div>

    <div>
      <div  *ngFor="let student of students | studentSearchByName:search.value |
      paginate:{itemsPerPage:8,currentPage:page,totalItems:students.length} ;let currentIndex=index" class="my-1">
        <button  class="row tableRow border-0 justify-content-start text-start text-lg-start justify-content-lg-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
          <p  class="col-3 col-lg-3 m-auto align-items-lg-start font-weight-bold text-muted" >{{(student.username.length>15)? (student.username | slice:0:15)+'..':(student.username)}}</p>
          <p  class="col-3 col-lg-3 m-auto align-items-lg-start" >{{(student.email.length>30)? (student.email | slice:0:30)+'..':(student.email)}}</p>
          <div class=" col-3 col-lg-3 ">  <p type="button" (click)="delete(currentIndex)" value="Delete" class="btn btn-danger col-3"><i class="fa fa-trash" aria-hidden="true"></i></p>
          </div>
        </button>
      </div>

      <div class="text-center mx-auto mt-3">
        <button type="button"   class="btn btn-submit btn-danger" data-toggle="modal" data-target="#exampleModalCenter" (click)="submit()">ADD All</button>
      </div>
    </div>
  </div>

  <div  class="col-12 mt-3 text-center" *ngIf="students.length>7">

    <pagination-controls  (pageChange)="page=$event"   style="bottom: 100px;left: 50vw">
    </pagination-controls>
  </div>
</div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div>
          <app-success-popup *ngIf="isSuccess" [item]="successMessage"></app-success-popup>
          <app-failed-popup *ngIf="!isSuccess" [item]="failedMessage"></app-failed-popup>
        </div>
      </div>
    </div>
  </div>
</div>





