<div class="container bg-light">
  <div class="row mb-lg-5 mb-2 mt-2 justify-content-center">
    <div class="col-lg-4 col-12 row justify-content-center ">
      <img class="col-lg-2 col-2 mt-1" src="assets/images/usedImages/template.png">
      <h2 class="col-lg-6 col-10 mb-0 pt-3  pl-0">All Templates</h2>
    </div>
  </div>



  <div class="row">
    <div  class="row  border-0 justify-content-center my-2 rounded bg-transparent p-1 py-3 col-lg-10 mx-lg-auto text-center">
      <p  class="col-2 col-lg-2 m-auto align-items-lg-start text-muted font-weight-bold" >Image ID</p>
      <p  class="col-1 col-lg-2 m-auto align-items-lg-start text-muted font-weight-bold" >Instance type</p>
      <p  class="col-1 col-lg-2 m-auto align-items-lg-start text-muted font-weight-bold" >Subnet Id</p>
    </div>

    <div>
      <div  *ngFor="let template of templates |
      paginate:{itemsPerPage:8,currentPage:page,totalItems:templates.length}" class="my-1">
        <button  class="row tableRow border-0 justify-content-start text-start text-lg-center justify-content-lg-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
          <p  class="col-12 col-lg-2  m-auto align-items-lg-start font-weight-bold text-muted" >{{template.amiId}}</p>
          <p  class="col-12 col-lg-2 m-auto align-items-lg-start" >{{template.instanceType}}</p>
          <p  class="col-12 col-lg-2 m-auto align-items-lg-start" >{{template.subnetId}}</p>
        </button>
      </div>
    </div>


  </div>

  <div  class="col-12 mt-3 text-center" *ngIf="templates.length>7">

    <pagination-controls  (pageChange)="page=$event"   style="bottom: 100px;left: 50vw">

    </pagination-controls>

  </div>
</div>


