<aside class="sidebar">
  <div class="toggle">
    <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
      <span></span>
    </a>
  </div>
  <div class="side-inner">

    <div class="profile">
      <img src="assets/images/iti-logo.png" alt="Image" >
      <h3 class="name">Debby Williams</h3>
      <span class="country">Manager</span>
    </div>

    <div class="nav-menu">

      <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-3 text-dark text-decoration-none">
            <i class="fa fa-dashboard"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
          </a>
        </li>

        <li>
          <a href="#submenu8" data-bs-toggle="collapse" class="nav-link px-3 align-middle text-dark text-decoration-none">
            <span class="icon-album mr-2"></span>Instance</a>
          <ul class="collapse nav flex-column ms-1" id="submenu8" data-bs-parent="#menu">
            <li class="w-100">
              <a class="px-8" > <span class="icon-plus mr-3"></span>Create Instance </a>
            </li>
            <li>
              <a [routerLink]="['/instances']" routerLinkActive="active"class="px-8">
                <span class="icon-view_array mr-3"></span>View Instance </a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-3 align-middle text-dark text-decoration-none">
            <span class="icon-3d_rotation mr-2"></span>Template </a>
          <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
            <li class="w-100">
              <a href="#" class="px-8" [routerLink]="['/template']" routerLinkActive="active">
                <span class="icon-plus mr-3"></span>Create Template </a>
            </li>
            <li>
              <a href="#" class="px-8">
                <span class="icon-view_array mr-3"></span>View Templates </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#submenu3" data-bs-toggle="collapse" class="nav-link align-middle text-dark text-decoration-none">
            <i class="fa fa-user"></i> <span class="ms-1 d-none d-sm-inline">Users</span> </a>
          <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
            <li class="w-100">
              <a href="#staffSubmenu1" data-toggle="collapse" aria-expanded="false" class="text-dark text-decoration-none dropdown-toggle nav-link nav-text">Staff</a>
              <ul class="collapse list-unstyled"  id="staffSubmenu1">
                <li>
                  <a class="nav-link text-dark text-decoration-none" [routerLink]="['/user/createStaff']" routerLinkActive="active">Add Staff</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#studentSubmenu1" data-toggle="collapse" aria-expanded="false" class="text-dark text-decoration-none dropdown-toggle nav-link nav-text">Student</a>
              <ul class="collapse list-unstyled" id="studentSubmenu1">
                <li>
                  <a class="nav-link text-dark text-decoration-none" [routerLink]="['/user/createStudent']" routerLinkActive="active">Add Student</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>

</aside>
<main>
  <div class="site-section">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
