<aside class="sidebar">
  <div class="toggle">
    <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
      <span></span>
    </a>
  </div>
  <div class="side-inner">

    <div class="profile">
      <img src="assets/images/iti-logo.png" alt="Image" >
      <h3 class="name">{{user.username}}</h3>
      <span class="country">{{user.role}}</span>
      <br/>
      <a [routerLink]="['/user/profile']" routerLinkActive="active" style="color: #901b20" class="country">
        <i class="fa fa-user" *ngIf="canManageProfile"></i> Update Profile
      </a>
    </div>

    <div class="nav-menu">

      <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
          <a *ngIf="canViewStatistics" [routerLink]="['/home']" routerLinkActive="active" class="nav-link align-middle px-3 text-dark text-decoration-none">
            <i class="fa fa-dashboard"></i>
            <span class="ms-1 d-none d-sm-inline">Dashboard</span>
          </a>

          <a *ngIf="!canViewStatistics" [routerLink]="['/home']" routerLinkActive="active" class="nav-link align-middle px-3 text-dark text-decoration-none">
            <i class="fa fa-dashboard"></i>
            <span class="ms-1 d-none d-sm-inline">Home</span>
          </a>
        </li>

        <li *ngIf="canViewInstanceLogs || canStopStartViewInstances || canCreateTerminateAssignInstance">
          <a href="#submenu8" data-bs-toggle="collapse" class="nav-link px-3 align-middle text-dark text-decoration-none">
            <span class="icon-album mr-2"></span>Instance</a>
          <ul class="collapse nav flex-column ms-1" id="submenu8" data-bs-parent="#menu">

            <li *ngIf="canStopStartViewInstances">
              <a [routerLink]="['/instances']" routerLinkActive="active" class="px-8">
                <span class="icon-view_array mr-3" ></span>View Instance </a>
            </li>
            <li *ngIf="canCreateTerminateAssignInstance">
              <a [routerLink]="['/instances/createMyInstance']" routerLinkActive="active" class="px-8">
                <span class="icon-view_array mr-3" ></span>Create my Instance </a>
            </li>
            <li>
              <a [routerLink]="['/instances-logs/view']" routerLinkActive="active" class="px-8">
                <span class="icon-view_array mr-3" ></span>Instance Logs </a>
            </li>

          </ul>
        </li>

        <li *ngIf="canManageTemplates">
          <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-3 align-middle text-dark text-decoration-none">
            <span class="fa fa-terminal mr-2"></span>Template </a>
          <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
            <li class="w-100">
              <a href="#" class="px-8" [routerLink]="['/template']" routerLinkActive="active">
                <span class="icon-plus mr-3"></span>Create Template </a>
            </li>
            <li>
              <a href="#" class="px-8" [routerLink]="['/templates/assign']">
                <span class="icon-view_array mr-3"></span>Assign Templates </a>
            </li>

            <li>
              <a href="#" class="px-8" [routerLink]="['/templates/view']">
                <span class="icon-view_array mr-3"></span>View Templates </a>
            </li>
          </ul>
        </li>

        <li *ngIf="canManageStudents || canManageStaff">
          <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-3 align-middle text-dark text-decoration-none">
            <i class="fa fa-user mr-2"></i> Users </a>
          <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
            <li class="w-100" *ngIf="canManageStaff">
              <a href="#staffSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Staff</a>
              <ul class="collapse list-unstyled"  id="staffSubmenu1">
                <li class="px-2" >
                  <a [routerLink]="['/user/staff/addStaff']" routerLinkActive="active">Add Staff</a>
                </li>

                <li class="px-2">
                  <a [routerLink]="['/user/staff/search']" routerLinkActive="active">Manage Staff</a>
                </li>
              </ul>
            </li>

            <li *ngIf="canManageStudents">
              <a href="#studentSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Student</a>
              <ul class="collapse list-unstyled" id="studentSubmenu1">
                <li class="px-2">
                  <a [routerLink]="['/user/addStudent']" routerLinkActive="active">Add Student</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li *ngIf="canManageBranches">
          <a href="#submenu6" data-bs-toggle="collapse" class="nav-link px-3 align-middle text-dark text-decoration-none">
            <span class="fa fa-building mr-2"></span>Branches</a>
          <ul class="collapse nav flex-column ms-1" id="submenu6" data-bs-parent="#menu">
            <li class="w-100">
              <a class="px-8" [routerLink]="['/branch/create']" routerLinkActive="active">
                <span class="icon-plus mr-3"></span>Create Branch
              </a>
            </li>
            <li>
              <a [routerLink]="['/branch/show']" routerLinkActive="active" class="px-8">
                <span class="icon-view_array mr-3"></span>Show All Branches
              </a>
            </li>
          </ul>
        </li>


        <li *ngIf="canManageIntakes">
          <a href="#submenu7" data-bs-toggle="collapse" class="nav-link px-3 align-middle text-dark text-decoration-none">
            <span class="icon-picture_in_picture mr-2"></span>Intakes</a>
          <ul class="collapse nav flex-column ms-1" id="submenu7" data-bs-parent="#menu">
            <li class="w-100">
              <a class="px-8" [routerLink]="['/intakes']" routerLinkActive="active">
                <span class="icon-plus mr-3"></span>Create Intake
              </a>
            </li>
            <li>
              <a [routerLink]="['/intakes/show']" routerLinkActive="active" class="px-8">
                <span class="icon-view_array mr-3"></span>Show All Intakes
              </a>
            </li>
          </ul>
        </li>

        <li *ngIf="canManageTracks">
          <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-3 align-middle text-dark text-decoration-none">
            <span class="fa fa-podcast mr-2"></span>Tracks</a>
          <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
            <li class="w-100">
              <a class="px-8" [routerLink]="['/tracks/manage_tracks']" routerLinkActive="active">
                <span class="icon-plus mr-3"></span>Create Track
              </a>
            </li>
            <li>
              <a [routerLink]="['/tracks/view_tracks']" routerLinkActive="active" class="px-8">
                <span class="icon-view_array mr-3"></span>View Tracks
              </a>
            </li>
          </ul>
        </li>

        <li *ngIf="canManageTrainingPrograms">
          <a href="#submenu9" data-bs-toggle="collapse" class="nav-link px-3 align-middle text-dark text-decoration-none">
            <span class="fa fa-book mr-2"></span>Training Programs</a>
          <ul class="collapse nav flex-column ms-1" id="submenu9" data-bs-parent="#menu">
            <li class="w-100">
              <a class="px-8" [routerLink]="['/training-programs/create']" routerLinkActive="active">
                <span class="icon-plus mr-3"></span>Create Training Programs
              </a>
            </li>
            <li>
              <a [routerLink]="['/training-programs/show']" routerLinkActive="active" class="px-8">
                <span class="icon-view_array mr-3"></span>View Training Programs
              </a>
            </li>
          </ul>
        </li>

        <li *ngIf="canManageRoles">
          <a href="#submenu10" data-bs-toggle="collapse" class="nav-link px-3 align-middle text-dark text-decoration-none">
            <span class="fa fa-ticket mr-2"></span>Roles</a>
          <ul class="collapse nav flex-column ms-1" id="submenu10" data-bs-parent="#menu">
            <li class="w-100">
              <a class="px-8" [routerLink]="['/roles/create']" routerLinkActive="active">
                <span class="icon-plus mr-3"></span>Create Role
              </a>
            </li>
            <li>
              <a [routerLink]="['/roles/show-all']" routerLinkActive="active" class="px-8">
                <span class="icon-view_array mr-3"></span>View All Roles
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a [routerLink]="['/logout']" routerLinkActive="active" class="nav-link align-middle px-3 text-dark text-decoration-none">
            <i class="fa fa-lock"></i> <span class="ms-1 d-none d-sm-inline">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

</aside>
<main>
  <div class="site-section bg-light pt-lg-4 h-100">
    <div class="container ">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
