<div>
  <div class="container-fluid justify-content-center mx-auto">
    <div class="col-lg-4 col-12 mb-3 row justify-content-center mb-3 mb-lg-5 mx-auto">
      <img class="col-lg-2 col-2 mt-1" src="assets/images/user/track.png">
      <h2 class="col-lg-6 col-5 mb-0 pt-2 text-start px-0 text-muted font-italic">Edit Intake</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="form-validation" [formGroup]="myGroup">

              <div class="form-group row" >
                <label class="col-lg-4 col-form-label text-muted font-weight-bold" for="trainingPrograms">Select Training Program</label>
                <div class="col-lg-6">

                  <input type="text" [disabled]="true" class="form-control disabled" id="trainingPrograms"
                    value="{{intake.trainingProgram}}" [readOnly]="true" formControlName="trainingPrograms">
                </div>
              </div>

              <div class="form-group row" >
                <label class="col-lg-4 col-form-label text-muted font-weight-bold" for="val-username">Intake Name</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" id="val-username" name="val-username"
                    value="{{intake.intakeName}}" placeholder="Enter a Intake Name.." required
                    formControlName="intakeName"
                    [class.is-valid]="!myGroup.controls['intakeName'].errors && myGroup.controls['intakeName'].touched"
                    [class.is-invalid]="myGroup.controls['intakeName'].errors && myGroup.controls['intakeName'].touched"
                    [(ngModel)]="intakeName">
                  <div class="text-danger  col-lg-6 align-items-end align-self-end"
                    *ngIf="myGroup.controls['intakeName'].errors && myGroup.controls['intakeName'].touched">
                    <small *ngIf="myGroup.controls['intakeName'].hasError('required')"
                      class="form-text text-danger">required intake name</small>
                  </div>
                </div>
              </div>

              <div class="form-group row" >
                <label class="col-lg-4 col-form-label text-muted font-weight-bold" for="val-description">Intake Description</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" id="val-description" name="val-description"
                    value="{{intake.intakeName}}" placeholder="Enter a Intake Description.." required
                    formControlName="intakeDescription"
                    [class.is-valid]="!myGroup.controls['intakeDescription'].errors && myGroup.controls['intakeDescription'].touched"
                    [class.is-invalid]="myGroup.controls['intakeDescription'].errors && myGroup.controls['intakeDescription'].touched"
                    [(ngModel)]="intakeDescription">
                  <div class="text-danger  col-lg-6 align-items-end align-self-end"
                    *ngIf="myGroup.controls['intakeDescription'].errors && myGroup.controls['intakeDescription'].touched">
                    <small *ngIf="myGroup.controls['intakeDescription'].errors" class="form-text text-danger">required
                      intake Description</small>
                  </div>
                </div>

              </div>

              <div class="form-group row mx-auto justify-content-center text-center">
                <div class="col-lg-8 ml-auto mx-auto">
                  <button type="button" id="btn-submit" id="btn-submit"
                    [disabled]="intake.intakeName===intakeName && intake.intakeDescription===intakeDescription"
                    (click)="submitBtn()" class="btn font-weight-bold btn-danger" data-toggle="modal"
                    data-target="#exampleModalCenter">
                    Edit
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div *ngIf="!isLoading">
        <app-success-popup *ngIf="isSuccess" [item]="currentItem" [action]="action"></app-success-popup>
        <app-failed-popup *ngIf="!isSuccess" [item]="currentItem" [action]="action"></app-failed-popup>
      </div>
      <app-loader *ngIf="isLoading"></app-loader>
    </div>
  </div>






</div>



