<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">-->
<!--  Launch demo modal-->
<!--</button>-->

<!-- Modal -->

<div class="modal-content" style="border-radius: 20px ;">
      <div class="my-3">

      </div>
      <div class="modal-body">


        <h1 style="text-align:center;">
          <div class="checkmark-circle">
          <div class="background"></div>
          <div class="checkmark draw"></div>
        </div>
          </h1>

        <h2 class="text-center pt-3" style="color: rgb(125, 135, 156)"> {{item}} is successfully created!!</h2>

      </div>
      <div class="mt-3 mb-5  text-center">

        <button id="btn-done" type="button" class="btn  px-5 shadow-lg rounded" data-dismiss="modal" [routerLink]="['/home']">
          Done</button>

      </div>

    </div>

<section>
  <div class="loader">
    <!--             <span style="--i: 1"></span>
                <span style="--i: 2"></span>
                <span style="--i: 3"></span>
                <span style="--i: 4"></span>
                <span style="--i: 5"></span> -->
    <span style="--i: 6"></span>
    <span style="--i: 7"></span>
    <span style="--i: 8"></span>
    <span style="--i: 9"></span>
    <span style="--i: 10"></span>
    <span style="--i: 11"></span>
    <span style="--i: 12"></span>
    <span style="--i: 13"></span>
    <span style="--i: 14"></span>
    <span style="--i: 15"></span>
    <span style="--i: 16"></span>
    <span style="--i: 17"></span>
    <span style="--i: 18"></span>
    <span style="--i: 19"></span>
    <span style="--i: 20"></span>
  </div>
</section>


