<div class="container bg-light">
  <div class="row mb-lg-5 mb-2 mt-2 justify-content-around">
    <div class="col-lg-4 col-12 row justify-content-around ">
      <img class="col-lg-2 col-2" src="assets/images/user/users.png">
      <h2 class="col-lg-10 col-10 mb-0 pt-2">All Users</h2>
    </div>
    <div class="search col-lg-4 col-10 rounded bg-white justify-content-around mt-lg-0 mt-3">
    <i class="fa fa-search text-muted col-lg-1 col-1 "></i>
    <input class="border-0 col-10  col-lg-11 py-2 " placeholder="Search by name or email..." type="text" #search [ngModel]="searchValue">
    </div>
    <!--<div class="col-lg-10 mt-3 justify-content-lg-end justify-content-around text-end row">
   <div class="col-lg-5 col-10 row text-center">
     <div class="col-6">
       <input id="name" type="checkbox"  class="form-check-input" checked #byName>
       <label for="name" class="ml-2 ">By Name</label>
     </div>
     <div class="col-6 ">
       <input id="email" type="checkbox" class="form-check-input"  #byEmail>
       <label for="email" class="ml-2">By Email</label>
     </div>
   </div>
    </div>-->
  </div>



<div class="row">
  <div  class="row  border-0 justify-content-center my-2 rounded bg-transparent p-1 py-3 col-lg-10 mx-lg-auto text-center">
      <p  class="col-2 col-lg-2 m-auto align-items-lg-start text-muted font-weight-bold" >Username</p>
    <p  class="col-1 col-lg-3 m-auto align-items-lg-start text-muted font-weight-bold" >Email</p>
    <p  class="col-1 col-lg-2 m-auto align-items-lg-start text-muted font-weight-bold" >Role</p>
    <p  class="col-2 col-lg-2 m-auto align-items-lg-start text-muted font-weight-bold " >Track</p>
    <p class="edit col-1 col-lg-1 text-info mb-0 text-muted font-weight-bold">Edit</p>
  </div>

    <div>
      <div  *ngFor="let user of usersList | searchFilter:search.value " class="my-1">
        <button  class="row tableRow border-0 justify-content-start text-start text-lg-center justify-content-lg-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
          <p  class="col-12 col-lg-2  m-auto align-items-lg-start font-weight-bold text-muted" >{{user.username}}</p>
          <p  class="col-12 col-lg-3 m-auto align-items-lg-start" >{{user.email}}</p>
          <p  class="col-12 col-lg-2 m-auto align-items-lg-start" >{{user.role}}</p>
          <p  class="col-11 col-lg-2 m-auto align-items-lg-start" >{{user.id}}</p>
          <p class="edit col-1 col-lg-1 text-info mb-0"><i class="fa fa-edit" style="--bs-table-hover-bg: #red"></i></p>
        </button>
      </div>
    </div>


</div>
</div>
