<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="form-validation">
              <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="val-username">Instance Name <span class="text-danger">*</span>
                </label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" id="val-username" name="val-username" placeholder="Enter a Instance Name..">
                </div>
              </div>

            <div class="form-group row">
              <label class="col-lg-4 col-form-label" for="val-username">Key Pair Name <span class="text-danger">*</span>
              </label>
              <div class="col-lg-6">
                <input type="text" class="form-control" id="val-keyPairName" name="val-keyPairName" placeholder="Enter a Key Pair Name..">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-lg-4 col-form-label" for="val-student">Select Student <span class="text-danger">*</span>
              </label>
              <div class="col-lg-6">
                <select class="form-control" id="val-student">
                  <option value="">
                       <p><span class="fa-bold">Student1</span><br/> beat</p>
                  </option>
                  <option value="html">HTML</option>
                  <option value="css">CSS</option>
                  <option value="javascript">JavaScript</option>
                  <option value="angular">Angular</option>
                  <option value="angular">React</option>
                  <option value="vuejs">Vue.js</option>
                  <option value="ruby">Ruby</option>
                  <option value="php">PHP</option>
                  <option value="asp">ASP.NET</option>
                  <option value="python">Python</option>
                  <option value="mysql">MySQL</option>
                </select>
              </div>
            </div>

              <div class="form-group row radio-container">
                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" >Select Template <span class="text-danger">*</span></label>
                  <div class="col-lg-6">
                    <div class="overflow-scroll">
                      <div class="row">
                        <div class="card-radio col-lg-4">
                          <input type="radio" name="template-type" id="card1">
                          <label class="label-class" for="card1">
                            <h5 class="h5-class">BASIC</h5>
                            <h2 class="h2-class">
                              15<span>/month</span>
                            </h2>
                          </label>
                        </div>
                        <div class="card-radio col-lg-4">
                          <input type="radio" name="template-type" id="card2">
                          <label class="label-class" for="card2">
                            <h5 class="h5-class">STANDARD</h5>
                            <h2 class="h2-class">
                              35<span>/month</span>
                            </h2>
                          </label>
                        </div>
                        <div class="card-radio col-lg-4">
                          <input type="radio" name="template-type" id="card3">
                          <label class="label-class" for="card3">
                            <h5 class="h5-class">PREMIUM</h5>
                            <h2 class="h2-class">
                              120<span>/month</span>
                            </h2>
                          </label>
                        </div>
                        <div class="card-radio col-lg-4">
                          <input type="radio" name="template-type" id="card4">
                          <label class="label-class" for="card4">
                            <h5 class="h5-class">PREMIUM</h5>
                            <h2 class="h2-class">
                              120<span>/month</span>
                            </h2>
                          </label>
                        </div>
                        <div class="card-radio col-lg-4">
                          <input type="radio" name="template-type" id="card5">
                          <label class="label-class" for="card5">
                            <h5 class="h5-class">PREMIUM</h5>
                            <h2 class="h2-class">
                              120<span>/month</span>
                            </h2>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-8 ml-auto">
                  <button type="button" id="btn-submit" (click)="submitBtn()"  class="btn">Submit</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- #/ container -->


<script type="text/javascript">
  $(document).ready(function() {
    $('#example-includeSelectAllOption').multiselect({
      includeSelectAllOption: true
    });
  });
</script>
