<div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">

            <div class="form-validation" [formGroup]="myGroup">

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-username">Instance Name <span
                    class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                    <input #instanceName type="text" class="form-control" id="val-username" name="val-username"
                           placeholder="Enter a Instance Name.." required>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-username">Key Pair Name <span
                    class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                    <input #keypairName type="text" class="form-control" id="val-keyPairName" name="val-keyPairName"
                           placeholder="Enter a Key Pair Name.." required>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="branches">Select Branch <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                    <!--<select #studentId class="form-control" id="val-branch" required>
                      <option  value="{{student.id}}" *ngFor="let student of students">{{student.username}}</option>
                    </select>-->
                    <select class="form-control" id="branches" data-live-search="true"
                            (ngModelChange)="onChangeBranch($event)" formControlName="branches">

                      <option value="" selected disabled class="text-secondary">Please Select Branch</option>
                      <option *ngFor="let branch of branches"
                              [value]="branch.id">{{branch.name}} </option>
                    </select>
                    <!--                  <div class="text-danger col-lg-6 align-items-end align-self-end">-->
                    <!--                    <small class="form-text text-danger">required subnet</small>-->
                    <!--                  </div>-->
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="trainingPrograms">Select Training Program <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                    <select class="form-control" id="trainingPrograms" data-live-search="true"
                            (ngModelChange)="onChangeTrainingProgram($event)" formControlName="trainingPrograms">

                      <option value="" selected disabled class="text-secondary">Please Select Branch</option>
                      <option *ngFor="let trainingProgram of trainingPrograms"
                              [value]="trainingProgram.id">{{trainingProgram.name}} </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="intakes">Select Intake <span
                    class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                    <select class="form-control" id="intakes" data-live-search="true"
                            (ngModelChange)="onChangeIntake($event)" formControlName="intakes">

                      <option value="" selected disabled class="text-secondary">Please Select Intake</option>
                      <option *ngFor="let intake of intakes"
                              [value]="intake.id">{{intake.intakeName}} </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="tracks">Select Track <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                    <select class="form-control" id="tracks" data-live-search="true"
                            (ngModelChange)="onChangeTrack($event)" formControlName="tracks">

                      <option value="" selected disabled class="text-secondary">Please Select Track</option>
                      <option *ngFor="let track of tracks"
                              [value]="track.id">{{track.name}} </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-student">Select Student <span
                    class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                    <select #studentId class="form-control" id="val-student" required>
                      <option value="{{student.id}}" *ngFor="let student of students">{{student.username}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row radio-container">
                  <div class="form-group row">
                    <label class="col-lg-4 col-form-label">Select Template <span class="text-danger">*</span></label>
                    <div class="col-lg-6 card-radio-container">
                      <div class="row" *ngFor="let template of templates">
                        <div class="card-radio col-lg-6">
                          <input (change)="changeTemplateId($event)" value="{{template.id}}" type="radio"
                                 name="template-type" id="card5" required>
                          <label class="label-class" for="card5">
                            <h5 class="h5-class">Template {{template.id}}</h5>
                            <h2 class="h2-class">Ami Details </h2>
                            <!--                              <h2 class="h2-class px-1"> Image Name : {{template.ami.imageName}}</h2>-->
                            <h2 class="h2-class px-4">Image Description : {{template.ami.description}} </h2>
                            <h2 class="h2-class px-3">Image Architecture : {{template.ami.architecture}}</h2>
                            <h2 class="h2-class">Subnet ID : {{template.subnetId}} </h2>
                            <h2 class="h2-class">Instance Type : {{template.instanceType}} </h2>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-8 ml-auto">
                    <button type="button" id="btn-submit"
                            (click)="submitBtn( instanceName.value, keypairName.value, +studentId.value)" class="btn">
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">-->
    <!--    Launch demo modal-->
    <!--  </button>-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <app-success-popup *ngIf="getIsSuccess()" [item]="currentItem"></app-success-popup>
        <app-failed-popup *ngIf="!getIsSuccess()" [item]="currentItem"></app-failed-popup>
      </div>
    </div>


    <!-- #/ container -->


    <script type="text/javascript">
      $(document).ready(function () {
        $('#example-includeSelectAllOption').multiselect({
          includeSelectAllOption: true
        });
      });
    </script>
  </div>
