<div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">

            <div class="form-validation" [formGroup]="myGroup">

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-username">Instance Name <span
                    class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                    <input #instanceName type="text" class="form-control" id="val-username" name="val-username"
                           placeholder="Enter a Instance Name.." required formControlName="instanceName"
                           [class.is-valid]="!myGroup.controls['instanceName'].errors && myGroup.controls['instanceName'].touched"
                           [class.is-invalid]="myGroup.controls['instanceName'].errors && myGroup.controls['instanceName'].touched"
                    >
                    <div class="text-danger  col-lg-6 align-items-end align-self-end"
                         *ngIf="myGroup.controls['instanceName'].errors && myGroup.controls['instanceName'].touched">
                      <small *ngIf="myGroup.controls['instanceName'].hasError('required')"
                             class="form-text text-danger">required instance name</small>
                    </div>
                  </div>





                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-username">Key Pair Name <span
                    class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                    <input #keypairName type="text" class="form-control" id="val-keyPairName" name="val-keyPairName"
                           placeholder="Enter a Key Pair Name.." required formControlName="keypairName"
                           [class.is-valid]="!myGroup.controls['keypairName'].errors && myGroup.controls['keypairName'].touched"
                           [class.is-invalid]="myGroup.controls['keypairName'].errors && myGroup.controls['keypairName'].touched"
                    >

                    <div class="text-danger  col-lg-6 align-items-end align-self-end"
                         *ngIf="myGroup.controls['keypairName'].errors && myGroup.controls['keypairName'].touched">
                      <small *ngIf="myGroup.controls['keypairName'].hasError('required')"
                             class="form-text text-danger"> required keypair Name</small>
                    </div>
                  </div>
                </div>

              <div class="form-group row">
                <label class="col-lg-4 col-form-label" for="val-timeToLiveInMinutes">Enter TimeToLive in minutes <span
                  class="text-danger">*</span>
                </label>
                <div class="col-lg-6">
                  <input #timeToLiveInMinutes type="text" class="form-control" id="val-timeToLiveInMinutes" name="val-timeToLiveInMinutes"
                         placeholder="Enter TimeToLive" required formControlName="timeToLiveInMinutes"
                         [class.is-valid]="!myGroup.controls['timeToLiveInMinutes'].errors && myGroup.controls['timeToLiveInMinutes'].touched"
                         [class.is-invalid]="myGroup.controls['timeToLiveInMinutes'].errors && myGroup.controls['timeToLiveInMinutes'].touched"
                  >

                  <div class="text-danger  col-lg-6 align-items-end align-self-end"
                       *ngIf="myGroup.controls['timeToLiveInMinutes'].errors && myGroup.controls['timeToLiveInMinutes'].touched">
                    <small *ngIf="myGroup.controls['timeToLiveInMinutes'].hasError('required')"
                           class="form-text text-danger">Required Time ToLive InMinutes</small>
                    <small *ngIf="myGroup.controls['timeToLiveInMinutes'].errors?.['pattern'] "
                           class="form-text text-danger">Only number allowed</small>
                  </div>
                </div>


              </div>





                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="branches">Select Branch <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">

                    <select class="form-control" id="branches" data-live-search="true"
                            (ngModelChange)="onChangeBranch($event)" formControlName="branches"

                            [class.is-valid]="!myGroup.controls['branches'].errors && myGroup.controls['branches'].touched"
                            [class.is-invalid]="myGroup.controls['branches'].errors && myGroup.controls['branches'].touched"
                    >

                      <option  selected disabled class="text-secondary" value="">Please Select Branch</option>
                      <option *ngFor="let branch of branches"
                              [value]="branch.id">{{branch.name}} </option>
                    </select>
                    <div class="text-danger  col-lg-6 align-items-end align-self-end"
                         *ngIf="myGroup.controls['branches'].errors && myGroup.controls['branches'].touched">
                      <small *ngIf="myGroup.controls['branches'].hasError('required')"
                             class="form-text text-danger">required instance name</small>
                    </div>

                  </div>
                </div>

                <div class="form-group row" *ngIf="!myGroup.controls['branches'].errors && trainingPrograms.length > 0" >
                  <label class="col-lg-4 col-form-label" for="trainingPrograms">Select Training Program <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                    <select class="form-control" id="trainingPrograms" data-live-search="true"
                            (ngModelChange)="onChangeTrainingProgram($event)" formControlName="trainingPrograms"
                            [class.is-valid]="!myGroup.controls['trainingPrograms'].errors && myGroup.controls['trainingPrograms'].touched"
                            [class.is-invalid]="myGroup.controls['trainingPrograms'].errors && myGroup.controls['trainingPrograms'].touched"


                    >

                      <option value="" selected disabled class="text-secondary">Please Select Branch</option>
                      <option *ngFor="let trainingProgram of trainingPrograms"
                              [value]="trainingProgram.id">{{trainingProgram.name}} </option>
                    </select>
                    <div class="text-danger  col-lg-6 align-items-end align-self-end"
                         *ngIf="myGroup.controls['trainingPrograms'].errors && myGroup.controls['trainingPrograms'].touched">
                      <small *ngIf="myGroup.controls['trainingPrograms'].hasError('required')"
                             class="form-text text-danger">required instance name</small>
                    </div>
                  </div>
                </div>

                <div class="form-group row" *ngIf="!myGroup.controls['trainingPrograms'].errors && intakes.length > 0">
                  <label class="col-lg-4 col-form-label" for="intakes">Select Intake <span
                    class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                    <select class="form-control" id="intakes" data-live-search="true"
                            (ngModelChange)="onChangeIntake($event)" formControlName="intakes"
                            [class.is-valid]="!myGroup.controls['intakes'].errors && myGroup.controls['intakes'].touched"
                            [class.is-invalid]="myGroup.controls['intakes'].errors && myGroup.controls['intakes'].touched"
                    >

                      <option value="" selected disabled class="text-secondary">Please Select Intake</option>
                      <option *ngFor="let intake of intakes"
                              [value]="intake.id">{{intake.intakeName}} </option>
                    </select>
                    <div class="text-danger  col-lg-6 align-items-end align-self-end"
                         *ngIf="myGroup.controls['intakes'].errors && myGroup.controls['intakes'].touched">
                      <small *ngIf="myGroup.controls['intakes'].hasError('required')"
                             class="form-text text-danger">required instance name</small>
                    </div>
                  </div>
                </div>

                <div class="form-group row" *ngIf="!myGroup.controls['intakes'].errors && tracks.length > 0" >
                  <label class="col-lg-4 col-form-label" for="tracks">Select Track <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                    <select class="form-control" id="tracks" data-live-search="true"
                            (ngModelChange)="onChangeTrack($event)" formControlName="tracks"

                            [class.is-valid]="!myGroup.controls['tracks'].errors && myGroup.controls['tracks'].touched"
                            [class.is-invalid]="myGroup.controls['tracks'].errors && myGroup.controls['tracks'].touched"


                    >

                      <option value="" selected disabled class="text-secondary">Please Select Track</option>
                      <option *ngFor="let track of tracks"
                              [value]="track.id">{{track.name}} </option>
                    </select>
                    <div class="text-danger  col-lg-6 align-items-end align-self-end"
                         *ngIf="myGroup.controls['tracks'].errors && myGroup.controls['tracks'].touched">
                      <small *ngIf="myGroup.controls['tracks'].hasError('required')"
                             class="form-text text-danger">required instance name</small>
                    </div>
                  </div>
                </div>


                  <div  class="form-group row" *ngIf="!myGroup.controls['tracks'].errors && students.length > 0">
                    <label class="col-lg-4 col-form-label" for="val-student">Select Student<span
                      class="text-danger">*</span> </label>
                    <div class="col-lg-6">

                      <div id="val-student"  class="form-group row radio-container border-bottom " style="border-color: #ced4da">

                        <div class="form-group row " >

                          <div class="card-checkbox-container w-100 ">
                            <div class="row pr-lg-4 pr-2" *ngFor="let student of students;let currentIndex=index">
                              <div class="card-checkbox  p-1  w-100 mr-5 row" >
                                <input type="checkbox" name="{{student.username}}" id="{{student.id}}" class="col-2"  [(ngModel)]="isChecked[students.indexOf(student)]" [ngModelOptions]="{standalone: true}"

                                >
                                <div class="text-danger  col-lg-6 align-items-end align-self-end"
                                     *ngIf="myGroup.controls['tracks'].errors && myGroup.controls['tracks'].touched">
                                  <small *ngIf="myGroup.controls['tracks'].hasError('required')"
                                         class="form-text text-danger">required instance name</small>
                                </div>
                                <label class="label-class" for="{{student.id}}">
                                  <h5 class="h5-class">{{student.username}}</h5>

                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                      <div class="text-danger col-lg-6 align-items-end align-self-end" >
                        <small  *ngIf="isStudentsEmpty"
                               class="form-text text-danger">required student </small>
                      </div>

                  </div>

                </div>

                <div class="form-group row radio-container" *ngIf="!myGroup.controls['tracks'].errors">
                  <div class="form-group row">
                    <label class="col-lg-4 col-form-label">Select Template <span class="text-danger">*</span></label>
                    <div class="col-lg-6 card-radio-container">
                      <label class="row" *ngFor="let template of templates; let index = index" for="{{template.id}}">

                        <div class="card-radio col-lg-6">
                          <input (change)="changeTemplateId($event)" value="{{template.id}}" type="radio"
                                 name="template-type" id="{{template.id}}" required >
                          <label class="label-class" for="{{template.id}}">
                            <h5 class="h5-class">Template {{template.id}}</h5>
                            <h2 class="h2-class">Security Groups Details </h2>
                            <!--                              <h2 class="h2-class px-1"> Image Name : {{template.ami.imageName}}</h2>-->
                            <h2 class="h2-class px-4"> Security Groups Names : {{securityGroupInfoModel[index].securityGroupsNames}} </h2>
                            <h2 class="h2-class px-3">Security Groups vpcIds : {{securityGroupInfoModel[index].securityGroupsVpcIds}}</h2>
                            <h2 class="h2-class">Subnet ID : {{template.subnetId}} </h2>
                            <h2 class="h2-class">Instance Type : {{template.instanceType}} </h2>
                          </label>
                        </div>
                      </label>
                    </div>
                    <div class="text-danger col-lg-4 align-items-end align-self-end">
                    </div>
<!--                    <div class="text-danger  col-lg-6 align-items-end align-self-end"-->
<!--                         >-->
<!--                      <small -->
<!--                             class="form-text text-danger">required templatem</small>-->
<!--                    </div>-->
                  </div>



                </div>
                <div class="form-group row">
                  <div class="col-lg-8 ml-auto">
                    <button type="button" id="btn-submit" id="btn-submit" [disabled]="myGroup.invalid || templateId==0"
                            (click)="submitBtn(instanceName.value, keypairName.value, +timeToLiveInMinutes.value)" class="btn" data-toggle="modal" data-target="#exampleModalCenter">
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true" *ngIf="!isStudentsEmpty">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div *ngIf="!isLoading">
        <app-success-popup *ngIf="getIsSuccess()" [item]="currentItem" [action]="action" ></app-success-popup>
        <app-failed-popup *ngIf="!getIsSuccess()" [item]="currentItem" [action]="action"></app-failed-popup>
        </div>

          <app-loader *ngIf="isLoading"></app-loader>

      </div>
    </div>


    <!-- #/ container -->


    <script type="text/javascript">
      $(document).ready(function () {
        $('#example-includeSelectAllOption').multiselect({
          includeSelectAllOption: true
        });
      });
    </script>
  </div>
