<div>
  <div class="container bg-light">
    <div class="row mb-lg-5 mb-2 mt-2 justify-content-around">
      <div class="col-lg-4 col-12 row justify-content-around ">
        <img class="col-lg-2 col-2 mt-1" src="assets/images/usedImages/showtrack.png">
        <h2 class="col-lg-10 col-10 mb-0 pt-3">All Tracks</h2>
      </div>
      <div class="search col-lg-4 col-10 rounded bg-white justify-content-around mt-lg-0 mt-3">
        <i class="fa fa-search text-muted col-lg-1 col-1 "></i>
        <input class="border-0 col-10  col-lg-10 py-2 " placeholder="Search by name ..." type="text" #search [ngModel]="searchValue">
      </div>
    </div>



    <div class="row">
      <div  class="row  border-0 justify-content-lg-start justify-content-around my-2 rounded bg-transparent p-1 py-3 col-lg-10 mx-lg-auto text-center">
        <p  class="col-6  m-lg-auto align-items-lg-start text-muted font-weight-bold text-lg-center text-start " >Name</p>
        <p class="edit col-6 text-info mb-0 text-muted font-weight-bold">Edit</p>
      </div>

      <div  *ngIf="tracks.length>0" >
        <div *ngFor="let track of tracks |trackSearchByName:search.value|
      paginate:{itemsPerPage:8,currentPage:page,totalItems:tracks.length};let currentIndex=index" class="my-1">
          <button routerLink="/tracks/update_track/{{track.id}}"  class="row tableRow border-0 justify-content-start text-start text-lg-center justify-content-lg-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
            <p  class="col-6  m-auto align-items-lg-start font-weight-bold text-muted" >{{(track.name.length>20)? (track.name | slice:0:15)+'..':(track.name)}}</p>
            <p routerLink="/tracks/update_track/{{track.id}}" class="edit col-6 text-info mb-0"><i class="fa fa-edit" style="--bs-table-hover-bg: #red"></i></p>
          </button>
        </div>
      </div>
      <p class="py-5 text-muted text-center font-weight-bold" *ngIf="tracks.length==0">there no tracks yet</p>



    </div>

    <div  class="col-12 mt-3 text-center" *ngIf="tracks.length>7">

      <pagination-controls  (pageChange)="page=$event"   style="bottom: 100px;left: 50vw">

      </pagination-controls>

    </div>
  </div>
</div>








