<div >
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Adding New Student Form</h4>
      <div class="basic-form" [formGroup]="createStudent">
        <div class="form-row">
          <div class="form-group col-md-8">
            <label>Username</label>
            <input type="text" formControlName="username" class="form-control" placeholder="Username"
                   [class.is-invalid]="createStudent.controls['username'].errors && createStudent.controls['username'].touched"
                   [class.is-valid]="!createStudent.controls['username'].errors && createStudent.controls['username'].touched"
            >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Email</label>
            <input type="email" formControlName="email" class="form-control" placeholder="Email"
                   [class.is-invalid]="createStudent.controls['email'].errors && createStudent.controls['email'].touched"
                   [class.is-valid]="!createStudent.controls['email'].errors && createStudent.controls['email'].touched"
            >
          </div>
          <div class="form-group col-md-6">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control" placeholder="Password"
                   [class.is-invalid]="createStudent.controls['password'].errors && createStudent.controls['password'].touched"
                   [class.is-valid]="!createStudent.controls['password'].errors && createStudent.controls['password'].touched"
            >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Track</label>
            <select id="track" formControlName="trackName" class="form-control"
                    [class.is-invalid]="createStudent.controls['trackName'].errors && createStudent.controls['trackName'].touched"
                    [class.is-valid]="!createStudent.controls['trackName'].errors && createStudent.controls['trackName'].touched"
            >
              <option selected="selected">Choose...</option >
              <option>AI</option>
              <option>Data Management</option>
              <option>Java Enterprise</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label>Role</label>
            <select id="role" class="form-control" formControlName="role"
                    [class.is-invalid]="createStudent.controls['role'].errors && createStudent.controls['role'].touched"
                    [class.is-valid]="!createStudent.controls['role'].errors && createStudent.controls['role'].touched">
              <option selected="selected">Choose...</option>
              <option>Supervisor</option>
              <option>instructor</option>
              <option>Training Manger</option>
            </select>
          </div>
        </div>
        <button type="button" [disabled]="createStudent.invalid"  class="btn btn-outline-success sweet-success">Add</button>
      </div>
    </div>
  </div>
</div>
