<div>


  <div class="container-fluid" *ngIf="allInsatanceLogs.length>0">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">



            <div class=" m-auto pt-3">
              <h1 class="text-center"> All Instance Logs</h1>
              <div class="col-11 text-center m-auto">
                <table class="table text-center mt-5">
                  <thead>
                    <td>id</td>
                    <td>Instance Name</td>
                    <td>Action</td>
                    <td>Action Maker Name</td>
                    <td>Date Time</td>
                  </thead>

                  <tbody>
                    <tr *ngFor="let instanceLog of allInsatanceLogs |
      paginate:{itemsPerPage:3,currentPage:page,totalItems:allInsatanceLogs.length};let currentIndex=index">

                      <td>{{currentIndex+1}}</td>
                      <td> {{instanceLog.instance.name}}</td>
                      <td> {{instanceLog.action}}</td>
                      <td> {{instanceLog.actionMaker.username}}</td>
                      <td> {{instanceLog.dateTime}}</td>
                    <td></td>
                    <!-- <td><input type="button"  (click)="delete(currentIndex)" value="Delete" class="btn btn-danger"></td> -->

                    </tr>
                  </tbody>
                </table>

                <p class="py-5" *ngIf="allInsatanceLogs.length==0">there no instance logs</p>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="col-12  text-center">

      <pagination-controls (pageChange)="page=$event" style="bottom: 100px;left: 50vw">

      </pagination-controls>

    </div>
  </div>

</div>
