<div class="modal-content" style="border-radius: 20px ;">
  <div class="my-3">

  </div>
  <div class="modal-body">

    <h1 style="text-align:center;">
   <img src="assets/popupIcons/failed.png">
    </h1>
    <h2 class="text-center pt-3 px-1" style="color: rgb(125, 135, 156)"> {{item}} failed to be {{action}}!!</h2>

  </div>
  <div class="mt-3 mb-5  text-center">

    <button id="btn-failed"type="button" class="btn  px-5 shadow-lg rounded" data-dismiss="modal" >
      Failed</button>

  </div>
</div>
