<div class="container-fluid justify-content-center mx-auto">
  <div class="col-lg-4 col-12 mb-3 row justify-content-center mb-3 mb-lg-5 mx-auto">
    <img class="col-lg-1 col-1 mt-1" style="width: 90px;height: 70px" src="assets/images/usedImages/intake.png">
    <h2 class="col-lg-9 col-5 mb-0 pt-2 text-start px-0 text-muted font-italic">Add Instances</h2>
  </div>


<div class="bg-transparent bg-dark rounded shadow-lg p-lg-5 m-3" >

  <div class=" row" *ngIf="instancesBackup.length>0">
    <div class="col-3">
      <div class=" row">
    <div class="status rounded-circle p-1  col-1" style="background-color: #14C38E"  ></div>
    <h6 class="col-11 bottom-50">number of running : {{getTotalNumberOfRunningInstances()}}</h6>
    </div>

    </div>


      <div class="col-3">
        <div class=" row">
        <div class="status rounded-circle p-1  col-1" style="background-color: #B8F1B0" ></div>
        <h6 class="col-11 bottom-50">number of STOPPED : {{getTotalNumberOfStoppedInstances()}}</h6>
      </div>
      </div>


        <div class="col-3">
          <div class=" row">
          <div class="status rounded-circle p-1  col-1"  style="background-color: #000000"></div>
          <h6 class="col-11 bottom-50">number of ALL : {{getNumberOfInstances()}}</h6>
        </div>

        </div>
        <div class="col-3">
          <div class=" row">

            <button href="/instances"
                    class="col-3 rounded shadow p-1 btn btn-light">
<!--              <i class="fa fa-play"></i>-->
              <i class="fa fa-refresh" aria-hidden="true"></i>

            </button>
        </div>
        </div>


  </div>

<div class="container  text-center mt-2 w-100 h-100" id="myBody"   >




  <div  class="hexagon col-lg-8 col-12 mx-1" *ngFor="let instance of instancesBackup |
      paginate:{itemsPerPage:5,currentPage:page,totalItems:instances.length};let currentIndex=index"
        [style.background-color]="statusArray[currentIndex]=='running' ? '#14C38E ' : statusArray[currentIndex]=='stopped'? '#B8F1B0': 'rgba(20,195,142,0.53)'">

    <a  routerLink="/instances/{{instance.instanceId}}" class="text-decoration-none">
      <h5 class="mt-5 pt-4">{{counterArray[currentIndex]  | instanceTimer}} </h5>
      <h5 class="text-white mt-5 pt-4"><br>{{instance.name}}</h5>


    </a>
    <div class="instanceStatus">


      <div class="instanceStatusContent">

        <button   type="button" id="button_play" class="btn btn-light "
                 (click)="changeInstanceStatus(instance,currentIndex)" href="/instances">
          <i *ngIf="statusArray[currentIndex]==='stopped'" class="fa fa-play"></i>
          <i *ngIf="statusArray[currentIndex]==='running'"class="fa fa-stop"></i>

          <i id="btn-pending" *ngIf=" statusArray[currentIndex]!=='running' && statusArray[currentIndex]!=='stopped'" class="fa fa-circle-o-notch fa-spin"></i>

        </button>


      </div>
    </div>


  </div>

  <div class="hexagon col-lg-8 col-12 mx-1" id="createInstance" *ngIf="canCreateTerminateAssignInstance">

    <a  [routerLink]="['/instances/createInstance']" class="text-decoration-none">

      <h5 class="mt-5 pt-4">{{counter  | instanceTimer}} </h5>
      <h5 class="pt-2">Create Instance <br></h5>



      <i class="fa fa-plus" aria-hidden="true" id="plusIcon" ></i>





    </a>
  </div>


</div>



</div>

<div  class="col-12  text-center" *ngIf="instancesBackup.length>5">

  <pagination-controls  (pageChange)="page=$event"   style="bottom: 100px;left: 50vw">

  </pagination-controls>

</div>
