
<div class="container-fluid justify-content-center mx-auto">
  <div class="col-lg-4 col-12 mb-3 row justify-content-center mb-3 mb-lg-5 mx-auto">
    <img class="col-lg-2 col-2 mt-1" src="assets/images/usedImages/processing.png">
    <h2 class="col-lg-9 col-5 mb-0 pt-2 text-start px-0 text-muted font-italic">Instance Details</h2>
  </div>


<div class="container text-center m-auto flex-column d-flex justify-content-center align-items-center" >

<!--  <label class="switch align-self-end m-lg-3  m-1 m-auto">
    <input type="checkbox" checked  (change)="checkValue($event)">
    <span class="slider round"></span>
  </label>-->
<!--  -->
  <label class="align-self-end m-lg-3  m-1 m-auto" *ngIf="this.instance.state == 'running' && canTerminateInstance">
    <button (click)="terminate()" class=" btn btn-danger rounded p-1 font-weight-bold"   data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-times-circle" aria-hidden="true"></i> Terminate </button>
  </label>



<div class=" bg-light rounded shadow-lg p-lg-5 m-lg-3 p-2 m-1 col-lg-10 m-auto " >


  <div class="row border-start border-5 borderColor justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
    <h4  class="col-5   m-auto  text-black">Name : </h4>
    <p  class="col-5  m-auto align-items-lg-start text-muted font-weight-bold" >{{instance.name}}</p>

  </div>
  <div class="row border-start border-5 borderColor justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
    <h4  class="col-5   m-auto  text-black">Name : </h4>
    <p  class="col-5  m-auto align-items-lg-start text-muted font-weight-bold" >{{instance.name}}</p>

  </div>

  <div class="row border-start border-5 borderColor justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
    <h4  class="col-5   m-auto  text-black">Public DNS Name : </h4>
    <p  class="col-5  m-auto align-items-lg-start text-muted font-weight-bold" >{{instance.publicDnsName}}</p>

  </div>

<!--  <div class="row border-start border-5 borderColor justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
    <h4  class="col-5   m-auto  text-black">Public IP : </h4>
    <p  class="col-5  m-auto align-items-lg-start text-muted font-weight-bold" >{{instance.publicIp}}</p>

  </div>-->

  <div class="row border-start border-5 borderColor justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
    <h4  class="col-5  m-auto  text-black">Instance ID : </h4>
    <p  class="col-5  m-auto align-items-lg-start text-muted font-weight-bold" >{{instance.instanceId}}</p>
  </div>

  <div class="row border-start border-5 borderColor justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
    <h4  class="col-5   m-auto  text-black">State : </h4>
    <p  class="col-5    m-auto align-items-lg-start text-muted font-weight-bold" >{{instance.state}}</p>

  </div>



  <div class="row border-start border-5 borderColor justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
    <h4  class="col-5  m-auto  text-black"> Instance Type  : </h4>
    <p  class="col-5  m-auto align-items-lg-start text-muted font-weight-bold" >{{instance.instanceType}}</p>
  </div>

  <div class="row border-start border-5 borderColor justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
    <h4  class="col-5  m-auto  text-black"> VPC ID : </h4>
    <p  class="col-5  m-auto align-items-lg-start text-muted font-weight-bold" >{{instance.vpcId}}</p>
  </div>





  <div class="row border-start border-5 borderColor justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
    <h4  class="col-5  m-auto  text-black" > Subnet ID : </h4>
    <p  class="col-5    m-auto align-items-lg-start text-muted font-weight-bold" >{{instance.subnetId}}</p>

  </div>

  <div class="row border-start border-5 borderColor justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
    <h4  class="col-5  m-auto  text-black">Time To Live : </h4>
    <p  class="col-5    m-auto align-items-lg-start text-muted" >
      <span [style.color]="counter/60<=5 ? '#e62e00' :  '#000000'">{{counter | instanceTimer}}</span>
    </p>
  </div>

  <div class="row border-start border-5 borderColor justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
    <h4  class="col-5  m-auto  text-black">UserName : </h4>
    <p  class="col-5  m-auto align-items-lg-start text-muted font-weight-bold" >{{instance.instanceUser.username}} </p>
  </div>


  <div class="row border-start border-5 borderColor justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">

    <h4  class="col-5 m-auto  text-black"> key Material : </h4>
    <div class="col-5  m-auto text-end justify-content-end">
      <button class=" btn btn-light" style="cursor:pointer;"  [cdkCopyToClipboard]="instance.keyPair" _ngcontent-yio-c63="" _ngcontent-bcc-c58="">
        copy
      </button>
    </div>
    <p  class="col-11 m-auto align-items-lg-start text-muted font-weight-bold mt-3 " (click)="showText()" [ngClass]="{'limitTextHeight': isReadMore}">{{instance.keyPair}}
    </p>

</div>




<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >

  <div class="modal-dialog modal-dialog-centered" role="document">
    <div *ngIf="!isLoading">
      <app-success-popup *ngIf="getIsSuccess()" [item]="currentItem" [action]="action" ></app-success-popup>
      <app-failed-popup *ngIf="!getIsSuccess()" [item]="currentItem" [action]="action"></app-failed-popup>
    </div>

    <app-loader *ngIf="isLoading"></app-loader>

  </div>
</div>

</div>
</div>
</div>
