
<div class="container-fluid justify-content-center mx-auto">
  <div class="col-lg-4 col-12 mb-3 row justify-content-center mb-3 mb-lg-5 mx-auto">
    <img class="col-lg-2 col-2 mt-1" src="assets/images/usedImages/processing.png">
    <h2 class="col-lg-9 col-5 mb-0 pt-2 text-start px-0 text-muted font-italic">Instance Details</h2>
  </div>


<div class="container text-center m-auto flex-column d-flex justify-content-center align-items-center" >

<!--  <label class="switch align-self-end m-lg-3  m-1 m-auto">
    <input type="checkbox" checked  (change)="checkValue($event)">
    <span class="slider round"></span>
  </label>-->



<div class=" bg-light rounded shadow-lg p-lg-5 m-lg-3 p-2 m-1 col-lg-10 m-auto " >


  <div class="row border-start border-5 borderColor justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
    <h4  class="col-5   m-auto  text-black">Name : </h4>
    <p  class="col-5  m-auto align-items-lg-start text-muted font-weight-bold" >{{instance.name}}</p>

  </div>

  <div class="row border-start border-5 borderColor justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
    <h4  class="col-5  m-auto  text-black">Instance ID : </h4>
    <p  class="col-5  m-auto align-items-lg-start text-muted font-weight-bold" >{{instance.instanceId}}</p>
  </div>

  <div class="row border-start border-5 borderColor justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
    <h4  class="col-5   m-auto  text-black">State : </h4>
    <p  class="col-5    m-auto align-items-lg-start text-muted font-weight-bold" >{{instance.state}}</p>

  </div>



  <div class="row border-start border-5 borderColor justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
    <h4  class="col-5  m-auto  text-black"> Instance Type  : </h4>
    <p  class="col-5  m-auto align-items-lg-start text-muted font-weight-bold" >{{instance.instanceType}}</p>
  </div>

  <div class="row border-start border-5 borderColor justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
    <h4  class="col-5  m-auto  text-black"> VPC ID : </h4>
    <p  class="col-5  m-auto align-items-lg-start text-muted font-weight-bold" >{{instance.vpcId}}</p>
  </div>





  <div class="row border-start border-5 borderColor justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
    <h4  class="col-5  m-auto  text-black" > Subnet ID : </h4>
    <p  class="col-5    m-auto align-items-lg-start text-muted font-weight-bold" >{{instance.subnetId}}</p>

  </div>

  <div class="row border-start border-5 borderColor justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
    <h4  class="col-5  m-auto  text-black">Time To Live : </h4>
    <p  class="col-5  m-auto align-items-lg-start text-muted font-weight-bold" >{{instance.timeToLiveInMinutes}} m</p>
  </div>

  <div class="row border-start border-5 borderColor justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">
    <h4  class="col-5 m-auto  text-black"> key Material : </h4>
    <h4  class="col-5  m-auto"></h4>
    <p  class="col-11 m-auto align-items-lg-start text-muted font-weight-bold mt-3 " (click)="showText()" [ngClass]="{'limitTextHeight': isReadMore}">{{instance.keyPair}}
    </p>
<!--    <button type="button" class="col-2 mt-2" (click)="showText()">-->
<!--      {{ isReadMore ? '...': '...' }}-->
<!--    </button>-->
  </div>


<!--  <button class="btn btn-primary align-items-end mr-2"> << Previous </button>-->


<!--  <button class="btn btn-primary align-items-end"> Next >> </button>-->



  <!--  <div class="row border-start border-5 border-primary justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">-->
  <!--    <h4  class="col-5  m-auto">key Material:</h4>-->
  <!--    <p  class="col-5  m-auto align-items-lg-start" >{{instance.keyMaterial}}</p>-->
  <!--  </div>-->

  <!--  <div class="row border-start border-5 border-primary justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">-->
  <!--    <h4  class="col-6 col-lg-3   m-auto"> Public IP : </h4>-->
  <!--&lt;!&ndash;    <p  class="col-6 col-lg-3  m-auto align-items-lg-start" >{{instance.publicIp}}</p>&ndash;&gt;-->

  <!--  </div>-->

<!--  <div class="row border-start border-5 border-primary justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">-->
<!--&lt;!&ndash;    <h4  class="col-6 col-lg-3  m-auto"> Subnet ID : </h4>&ndash;&gt;-->
<!--&lt;!&ndash;    <p  class="col-6 col-lg-3   m-auto align-items-lg-start" >{{instances.subnetId}}</p>&ndash;&gt;-->

<!--&lt;!&ndash;    <h4  class="col-6 col-lg-3 m-auto mt-lg-0 mt-2"> VPC ID : </h4>&ndash;&gt;-->
<!--&lt;!&ndash;    <p  class="col-6 col-lg-3  m-auto align-items-lg-start mt-lg-0 mt-2" >{{instances.vpcId}}</p>&ndash;&gt;-->
<!--  </div>-->



<!--  <div class="row border-start border-5 border-primary justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">-->
<!--    <h4  class="col-6 col-lg-3  m-auto"> Platform : </h4>-->
<!--&lt;!&ndash;    <p  class="col-6 col-lg-3  m-auto align-items-lg-start" >{{instance.platform}}</p>&ndash;&gt;-->
<!--    -->
<!--  </div>-->

<!--  <div class="row border-start border-5 border-primary justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">-->

<!--    <h4  class="col-5 "> Public DNS Name : </h4>-->
<!--&lt;!&ndash;    <p  class="col-5  m-auto align-items-lg-start" >{{instance.publicDnsName}}</p>&ndash;&gt;-->
<!--  </div>-->

<!--  <div class="row justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">-->
<!--    <h4  class="col-5  m-auto">  : </h4>-->
<!--    <p  class="col-5  m-auto align-items-lg-start" >{{instance.}}</p>-->
<!--  </div>-->

<!--  <div class="row justify-content-center my-2 rounded bg-white p-1 shadow-sm py-3 col-lg-10 mx-auto">-->
<!--    <h4  class="col-5  m-auto">  : </h4>-->
<!--    <p  class="col-5  m-auto align-items-lg-start" >{{instance.}}</p>-->
<!--  </div>-->

</div>

  <label *ngIf="this.instance.state == 'running'" class="align-self-end m-lg-3  m-1 m-auto">
    <button (click)="terminate()" class="btn-secondary rounded p-1"   data-toggle="modal" data-target="#exampleModalCenter"> ❌Terminate </button>
  </label>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >

  <div class="modal-dialog modal-dialog-centered" role="document">
    <div *ngIf="!isLoading">
      <app-success-popup *ngIf="getIsSuccess()" [item]="currentItem" [action]="action" ></app-success-popup>
      <app-failed-popup *ngIf="!getIsSuccess()" [item]="currentItem" [action]="action"></app-failed-popup>
    </div>

    <app-loader *ngIf="isLoading"></app-loader>

  </div>
</div>

</div>
</div>
