<!-- Section: Design Block -->
<section class="" style="padding-top: 7%;padding-bottom: 7%;background-color:#F5F5F5 ">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%) ; max-height: 100%">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img
            src="assets/images/media/logowhite-removebg-preview.png"
            class="img-fluid shadow-2-strong"
            style="margin-left: 20%;margin-bottom: 10%; max-width: 100%;"
            alt="Palm Springs Road"/>

          <p style="color: hsl(217, 10%, 50.8%)">
            In an orchestrated ensemble of human capital development,
            we enable, empower
            and elevate P-E-O-P-L-E to strive
            excellence and lead the change
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <br/>
            <h3 style="align-self: center ; color: #B52427">Sign In</h3>
            <div *ngIf="validUser"  class="alert alert-danger">Sorry your email or password incorrect !!</div>
            <div class="card-body py-5 px-md-5">
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control" [(ngModel)]="username"/>
                  <label class="form-label" for="form3Example3">Email address</label>

                  <input type="password" id="form3Example4" class="form-control" [(ngModel)]="password"/>
                  <label class="form-label" for="form3Example4">Password</label>
                </div>


<!--                <div class="form-check d-flex justify-content-center mb-4">-->
<!--                  <label class="form-check-label" for="form2Example33">-->
<!--                    remind me-->
<!--                  </label>-->
<!--                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />-->
<!--                </div>-->

                <!-- Submit button -->
                <button type="button" (click)="loginUser()"  class="btn btn-block mb-4"
                        style="background-color: #B52427; color: whitesmoke" >
                  Log in
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
