<div *ngIf="trainingProgram">

  <div class="container-fluid justify-content-center mx-auto mb-0 mb-lg-4">
    <div class="col-lg-6 col-12 mb-3 row justify-content-center mb-3 mb-lg-5 mx-auto">
      <img class="col-lg-2 col-4 mt-1 p-4 pt-3" src="assets/images/usedImages/editProgram.png">
      <h2 class="col-lg-9 col-8 mb-0 pt-2 text-start px-0 text-muted font-italic pt-4">Edit Training Program</h2>
    </div>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body shadow rounded">

            <div class="form-validation" [formGroup]="myGroup">

              <div class="form-group row">
                <label class="col-lg-4 col-form-label text-muted font-weight-bold" for="val-name">Training Program Name
                </label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" id="val-name" name="val-name"
                    placeholder="Enter Training Program Name.." required formControlName="trainingProgramName"
                    [class.is-valid]="!myGroup.controls['trainingProgramName'].errors && myGroup.controls['trainingProgramName'].touched"
                    [class.is-invalid]="myGroup.controls['trainingProgramName'].errors && myGroup.controls['trainingProgramName'].touched"
                    [(ngModel)]="trainingProgramName" >
                  <div class="text-danger  col-lg-6 align-items-end align-self-end"
                    *ngIf="myGroup.controls['trainingProgramName'].errors && myGroup.controls['trainingProgramName'].touched">
                    <small *ngIf="myGroup.controls['trainingProgramName'].hasError('required')"
                      class="form-text text-danger">required name</small>
                  </div>
                </div>


              </div>

              <div class="form-group row">
                <div class="col-lg-8 ml-auto mx-auto text-center">
                  <button type="button" id="btn-submit" id="btn-submit" [disabled]="myGroup.invalid || myGroup.controls['trainingProgramName'].value == trainingProgram.name" (click)="submit()"
                    class="btn font-weight-bold btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                    Edit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div *ngIf="!isLoading">
        <app-success-popup *ngIf="getIsSuccess()" [item]="currentItem"></app-success-popup>
        <app-failed-popup *ngIf="!getIsSuccess()" [item]="currentItem"></app-failed-popup>
      </div>

      <app-loader *ngIf="isLoading"></app-loader>

    </div>
  </div>


</div>
