<div class="container">
  <div class="container-fluid justify-content-start ">
    <div class="col-lg-4 col-12 mb-3 row justify-content-start mb-3 mb-lg-5 ">
      <img class="col-lg-2 col-3 mt-1" src="assets/images/usedImages/settings.png">
      <h2 class="col-lg-6 col-5 mb-0 pt-2 text-start px-0 text-muted font-italic">My Profile</h2>
    </div>

  <div class="main-body">

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body shadow rounded">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="assets/images/iti-logo.png" alt="Admin" class="rounded-circle p-1" width="110">
              <div class="mt-3">
                <h4 class="text-muted font-weight-bold">{{user.username}}</h4>
                <p class="text-secondary mb-1">{{user.role}}</p>
                <p *ngFor="let track of user.tracks" class="text-muted font-size-sm">{{(track.trackName)}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class=" row justify-content-start mb-3 mb-lg-5 mt-2 ml-2 ml-lg-0">
            <img class="col-lg-1 p-lg-4 p-1 pt-1 col-1 mt-1" src="assets/images/usedImages/profile.png">
            <h4 class="col-lg-6 col-5 mb-0 pt-2 pt-lg-4 text-start px-0  font-italic font-weight-bold">Personal Data</h4>
            <div class="col-3"></div>
            <img routerLink="/user/edit/{{user.id}}" class="col-lg-1 p-lg-4 p-1 pt-1 col-1 mt-1" src="assets/images/usedImages/editProfile.png">
          </div>
          <div class="card-body py-4 rounded pt-0">
            <div class="row py-2">
              <div class="col-sm-3">
                <h6 class="mb-0 text-muted font-weight-bold">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.username}}
              </div>
            </div>
            <div class="row py-2">
              <div class="col-sm-3">
                <h6 class="mb-0 text-muted font-weight-bold">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.email}}
              </div>
            </div>



          </div>
        </div>

        <div class="card pl-1" [formGroup]="myGroup">

          <div class=" row justify-content-start mb-3 mb-lg-5 mt-2 ml-2 ml-lg-0 ">
            <img class="col-lg-1 p-lg-4 p-1 pt-1 col-1 mt-1" src="assets/images/usedImages/lock.png">
            <h4 class="col-lg-6 col-8 mb-0 pt-2 text-start px-0 pt-lg-4  font-italic font-weight-bold ">Change Your Password</h4>
          </div>
          <div class="card-body pt-0">
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0 text-muted font-weight-bold my-auto">Old Password</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" placeholder="Enter your old password" [(ngModel)]="oldPassword"
                       [class.is-valid]="!myGroup.controls['oldPassword'].errors && myGroup.controls['oldPassword'].touched"
                       [class.is-invalid]="myGroup.controls['oldPassword'].errors && myGroup.controls['oldPassword'].touched"
                       formControlName="oldPassword"
                >
                <div *ngIf="myGroup.controls['oldPassword'].errors && myGroup.controls['oldPassword'].touched">

                  <small *ngIf="myGroup.controls['oldPassword'].hasError('required')"
                         class="form-text text-danger">Required</small>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0 text-muted font-weight-bold my-auto" >New Password</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input [disabled]="oldPassword==''" type="password" class="form-control" placeholder="Enter new password"
                       [class.is-valid]="!myGroup.controls['newPassword'].errors && myGroup.controls['newPassword'].touched"
                       [class.is-invalid]="myGroup.controls['newPassword'].errors && myGroup.controls['newPassword'].touched"
                       [(ngModel)]="newPassword"
                       formControlName="newPassword"
                >
                <div *ngIf="myGroup.controls['newPassword'].errors && myGroup.controls['newPassword'].touched">

                  <small *ngIf="myGroup.controls['newPassword'].hasError('required')"
                         class="form-text text-danger">Required</small>

                  <small *ngIf="myGroup.controls['newPassword'].hasError('uppercase') "
                         class="form-text text-danger">The password must contain one or more uppercase characters
                  </small>
                  <small *ngIf="myGroup.controls['newPassword'].hasError('lowercase') "
                         class="form-text text-danger">The password must contain one or more lowercase characters
                  </small>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0 text-muted font-weight-bold my-auto">Confirm Password</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input [disabled]="newPassword==''" (change)="checkPassword()" type="password" class="form-control" placeholder="Confirm new password"
                       [class.is-valid]="!myGroup.controls['confirmPassword'].errors && myGroup.controls['confirmPassword'].touched"
                       [class.is-invalid]="myGroup.controls['confirmPassword'].errors && myGroup.controls['confirmPassword'].touched"
                       formControlName="confirmPassword"
                       [(ngModel)]="confirmPassword" >
                <div *ngIf="myGroup.controls['confirmPassword'].errors && myGroup.controls['confirmPassword'].touched">

                    <small *ngIf="myGroup.controls['confirmPassword'].hasError('required')"
                           class="form-text text-danger">Required</small>
                </div>
                <small *ngIf="!isEqual && confirmPassword!=''" class="text-danger mt-3">There is no match</small>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-9 text-secondary">
                <input [disabled]="!isEqual" (click)="updatePassword()" data-toggle="modal" data-target="#exampleModalCenter" type="button" class="btn btn-danger font-weight-bold px-4" value="Save Changes">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div >
        <app-success-popup *ngIf="isSuccess" [item]="currentItem"></app-success-popup>
        <app-failed-popup *ngIf="!isSuccess" [item]="errorItem"></app-failed-popup>
      </div>
    </div>
  </div>

</div>
