<!--&lt;!&ndash;<p>detail-branch works!{{branch1.name}}</p>&ndash;&gt;-->
<!--<a href="#" class="btn btn-secondary">Go somewhere</a>-->


<!--<p>detail-branch works!{{branch1.name}}</p>-->


<div class="col-12 m-b-30">
  <h4 class="d-inline">Branch Details</h4><br>
  <div class="row m-b-30"  style="margin-top: 20px">
    <div class="col-lg-3">
      <div class="card border-primary">
        <div class="card-header" style="height: 40px"></div>
        <div class="card-body">


          <h2 class="card-title">Branch Name:</h2><p></p><hr>
          <!--              <p class="card-text">{{branch.name}}</p>-->
          <!--          <p class="card-text" style="margin-left: 30px">branch 1</p>-->

          <h2 class="card-title">Branch Location:</h2>
          <!--              <p class="card-text">{{branch.location}}</p>-->
          <p></p><hr>

          <h2 class="card-title">Branch Training Manager:</h2>
          <!--              <p class="card-text">{{branch.trainingManager}}</p>-->
          <p></p><hr>

          <h2 class="card-title">Branch Training Programs:</h2>
          <!--              <li *ngFor="let program of branch.trainingProgram;let currentIndex=index" class="card-text">{{program}}</li>-->


          <br>
          <br>
          <a routerLink="/home" class="btn btn-primary">Go To Home</a>

        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card border-secondary">
        <div class="card-header">Branch information</div>
        <div class="card-body">


          <h6 class="card-text">Branch 1</h6><hr>

          <h6 class="card-text">Branch 1 Location</h6>
          <p></p><hr>

          <h6 class="card-text">Branch 1 training Manager</h6>
          <p></p>
          <hr>

          <li>
            <h6 class="card-text">Program 1</h6>
            <h6 class="card-text">Program 2</h6>
            <h6 class="card-text">Program 3</h6>
            <h6 class="card-text">Program 4</h6>
          </li>

          <br>
          <a routerLink="/branch/show" class="btn btn-secondary">Go Back To all Branches</a>


        </div>
      </div>
    </div>
  </div>
  <!-- End Col -->
</div>
